@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    li {
        margin: 1rem;
        a {
            padding: 1rem;
            color: white;
            text-decoration: none;
            &:hover {
                background-color: rgb(120, 120, 120);
            }
        }
    }
}
